.header {
  position: fixed; 
  top: 0;
  left: 0;
  right: 0;
  background-color: #050505; 
  color: white;
  padding: 15px 30px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  z-index: 1000; 
  height: 30px;
}

.logo-container {
  display: flex;
  align-items: center;
}

.logo {
  width: 200px;
  height: 50px;
  margin-right: 15px;
}

.header-title {
  font-size: 1.5rem;
  font-weight: bold;
}

/* تنسيق القائمة العلوية */
.nav-list {
  list-style-type: none;
  display: flex;
  margin: 0;
  padding: 0;
}

.nav-list li {
  margin: 0 15px;
}

.nav-list li a {
  color: white;
  text-decoration: none;
  font-size: 1.1rem;
  transition: color 0.3s ease;
}

.nav-list li a:hover {
  color: #f44336; /* تغيير اللون عند التمرير فوق الرابط */
}

/* إبعاد المحتوى عن الشريط العلوي */
body {
  padding-top: 80px; /* جعل المحتوى يبدأ بعد الشريط العلوي */
}
